* {
    margin: 0;
    padding: 0;
}

#clock-container {
    position: relative;
    margin: auto;
    /* height: 40vw;
    width: 40vw; */
    height: 600px;
    width: 600px;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    /* background: red; */
    width: 1.8%;
    height: 25%;
    opacity: 1;
    top: 25.25%;
    left: 48.95%;
}

#minute {
    /* background: green; */
    width: 1.4%;
    height: 30%;
    opacity: 0.7;
    top: 20.25%;
    left: 49.15%;  
}
#second {
    /* background: blue; */
    width: 1%;
    height: 40%;
    opacity: 0.4;
    top: 10.20%;
    left: 49.35%;
}